/* ||REVIEW || */
.Review {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  white-space: nowrap;
  padding: 5rem 1rem;
  border-bottom: 1px solid white;
}

.Review button {
  padding: 0.5rem 1rem;
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: white;
}

.Breview {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  cursor: pointer;
}

.Breview button:hover,
button:focus {
  cursor: pointer;
  filter: brightness(200%);
}

.Next {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 2rem 1rem 5rem 2rem;
  white-space: nowrap;
}

.Next button {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: black;
}

.Next button a:hover,
button a:focus {
  filter: brightness(200%);
  cursor: pointer;
  color: black;
  text-decoration: none;
}
